<%- include('../../../partials/head.ejs') %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <%- include('../../../partials/sidebar.ejs') %>
            </div>

            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-11">
                        <div class="card card-body my-5">
                            <h4 class="mt-3 mb-3">
                                <%= title.split('|')[0] %>
                            </h4>

                            <div class="staff">
                                <form action="/dashboard/newLabour" method="POST">

                                    <div class="form-group">
                                        <label for="name" class="mt-3">Name</label>
                                        <input type="text" class="form-control <%= errors.name ? 'is-invalid' : '' %>"
                                            name="name" id="name">
                                        <div class="invalid-feedback">
                                            <%= errors.name %>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="banglaName" class="mt-3">Bangla Name</label>
                                        <input type="text" class="form-control <%= errors.banglaName ? 'is-invalid' : '' %>"
                                            name="banglaName" id="banglaName">
                                        <div class="invalid-feedback">
                                            <%= errors.banglaName %>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="phone" class="mt-3">Phone</label>
                                        <input type="text" class="form-control <%= errors.phone ? 'is-invalid' : '' %>"
                                            name="phone" id="phone">
                                        <div class="invalid-feedback">
                                            <%= errors.phone %>
                                        </div>
                                    </div>

                                    <p class="mt-5 lead">Address</p>

                                    <div class="form-group">
                                        <label for="village" class="">Village</label>
                                        <input type="text" class="form-control <%= errors.village ? 'is-invalid' : '' %>" name="village" id="village">
                                        <div class="invalid-feedback">
                                            <%= errors.village %>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="thana" class="mt-3">Thana</label>
                                        <input type="text" class="form-control <%= errors.thana ? 'is-invalid' : '' %>" name="thana" id="thana">
                                        <div class="invalid-feedback">
                                            <%= errors.than ? 'is-invalid' : '' %>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="district" class="mt-3">District</label>
                                        <input type="text" class="form-control  <%= errors.district ? 'is-invalid' : '' %>" name="district" id="district">
                                        <div class="invalid-feedback">
                                            <%= errors.district %>
                                        </div>
                                    </div>

                                    <input type="submit" value="Create New Labour" class="btn btn-success btn-sm mt-4 mb-3">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <%- include('../../../partials/footer.ejs') %>
        </body>

        </html>