<%- include('../../../partials/head.ejs') %>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <%- include('../../../partials/sidebar.ejs') %>
            </div>

            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-11">
                        <div class="card card-body my-5">
                            <h4 class="mt-3 mb-3">
                                <%= title.split('|')[0] %>
                            </h4>
                            
                            <div class="paddyStock">
                                <form action="/dashboard/newOtherStock" method="POST">

                                    <div class="form-group">
                                        <label for="name" class="mt-3">Select Product</label>
                                        <select class="form-control <%= errors.name ? 'is-invalid' : '' %>" id="name" name="name">
                                            <option></option>
                                            <option>খুদ 50 kg</option>
                                            <option>সিদ্ধ_কুড়া 55 kg</option>
                                            <option>আতব_কুড়া 55 kg</option>
                                            <option>চিটা 37 kg</option>
                                            <option>তোষ</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            <%= errors.name %>
                                        </div>
                                    </div>

                                    <input type="submit" value="Create New Other Stock" class="btn btn-success btn-sm mt-4 mb-3">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <%- include('../../../partials/footer.ejs') %>
        </body>
        </html>